@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

@layer utilities {
  .hover\:scale-102:hover {
    transform: scale(1.02);
  }
  
  .delay-150 {
    animation-delay: 150ms;
  }
  
  .delay-1000 {
    animation-delay: 1000ms;
  }
}